body {
  background-color: white;
  color: black;
}

.livelike-header {
  margin-top: 25px;
  height: 100px;
  font-weight: bold;
}

.livelike-header img{
  max-height: 100%;
}

.livelike-header>hr {
  height: 5px;
}

.widgets-container {
  height: 350px;
  margin-top: 25px;
}

.widget-header {
  display: none;
  font-size: 4em;
  font-weight: bold;
}

.widget-body {
  
}

.image-quiz-option {
  height: 350px;
  width: 350px;
  margin-left: 10%;
  text-align: center;
  background-color: lightgray;
  border: 5px;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
}

.image-quiz-option-img {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 75%;
  object-fit: contain;
  display: block;
}

.image-quiz-option-description {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.text-quiz-option {
  margin-top: 10px;
  text-align: left;
  background-color: lightgray;
  border: 5px;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
}

.text-quiz-option-description {
  margin-top: 10px;
  margin-left: 10px;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

/*
.css{
  animation: blinker 1s linear;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
} */

.vote-button {
  display: none;
}

/* livelike-widget-header {
  display: none;
} */

.widget-media img {
  width: 100%;
  height: auto;
  max-height: fit-content !important;
}

livelike-footer {
  background-color: #dedede !important;
}

livelike-option {
  border-width: 1px !important;
  border-color: #00aaff !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}